<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Projectwiki  articles |
    {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/site_media/style.css"
    type="text/css" />
</head>

<body>
	<header id="head">
	  <nav>
	    <ul>
				<li><a href="/">Home</a></li>
	    {% if user.is_authenticated %}
	     	<li>Welcome {{ user.username }} (<a href="/logout">logout</a>)</li>
	    {% else %}
	      <li><a href="/login/">Login</a></li>
	      <li><a href="/register/">Register</a></li>
	    {% endif %}
			</ul>
	  </nav>
	
	<h1>{% block head %}{% endblock %}</h1>
	
	</header>
	<section id="main">
  
  {% block content %}
	{% endblock %}

	</section>
</body>
</html>
