{% extends "base.html" %}

{% block title %}Welcome to Projectwiki{% endblock %}
{% block head %}Welcome to Projectwiki{% endblock %}

{% block content %}
		
	<section id="main_content">
		
		<header><h1>{{article.title}}</h1>{% include "articleMenu.html"%}</header>
		
		<table>
			<thead>
				<tr>
					<td>Editor</td>
					<td>Timestamp</td>
				</tr>
			</thead>
			<tbody>
				{% for edit in edits %}
				<tr>
					<td>{{edit.user.username}}</td>
					<td>{{edit.timestamp}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		<article>
			{% autoescape off %}
			{{article.getBodyToHTML}}
			{% endautoescape %}
		</article>
		
	</section>
		
{% endblock %}